.page-bg
{
    background-color: white;
}

.navbar-brand{
    margin-left: 2%;
}

.intro{
    display: flex;
    flex-flow: column wrap;
    padding: 20%;
}

.section{
    display: flex;
    flex-flow: column wrap;
    padding: 10%;
}

.portrait{
    height: 40%;
    width: 40%;
    padding: 3%;
    border-radius: 50%;
}

.footer{
    display: flex;
    justify-content: center;
}