.page-bg
{
    background-color: white;
}

.navbar-brand{
    margin-left: 2%;
}

.intro{
    display: flex;
    flex-flow: column wrap;
    padding: 20%;
}

.section{
    display: flex;
    flex-flow: column wrap;
    padding: 10%;
}
